<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>重置密码</title>
</head>
<body>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>register</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/layui-v2.6.8/layui/css/layui.css">
</head>
<body>
<div id="login-box">
    <form action="/user/reset_password" method="post">
        <h1>HadoopDemo</h1>
        <p><label style="color: red; margin-top: 20px">密码将被重置为123456</label></p>
        <div class="form">
            <div class="item">
                <i class="layui-icon layui-icon-user"></i>
                <input type="text" placeholder="Username" name="username" required/>
            </div>
            <div class="item">
                <i class="layui-icon layui-icon-at"></i>
                <input type="email" placeholder="email" name="email" required/>
            </div>
        </div>
        <p><button type="submit">提交</button></p>


    </form>
    <a href="/user/index" class="layui-btn layui-btn-radius layui-btn-primary"
       style="margin-top: 15px; color: white">返回</a>
</div>
</body>

<script src="../static/layui-v2.6.8/layui/layui.js"></script>
</html>

</body>
</html>